<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>条件渲染</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 
				条件渲染：
							1.v-if
										写法：
												(1).v-if="表达式" 
												(2).v-else-if="表达式"
												(3).v-else="表达式"
										适用于：切换频率较低的场景。
										特点：不展示的DOM元素直接被移除。
										注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

							2.v-show
										写法：v-show="表达式"
										适用于：切换频率较高的场景。
										特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
								
							3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
		 -->
		<!-- 准备好一个容器-->
		<div id="root">
			<div>{{n}}</div>
			<button @click="n++">点击n+1</button>

			<!-- v-show和v-if都是控制元素隐藏和显示的，区别是show不删除元素节点，if则删除元素节点。当需要频繁进行隐藏显示操作时用show会更好 -->
			<div v-show="n === 1">div1</div>

			<div v-if="n === 1">div2</div>
			<div v-else-if="n === 2">div3</div>
			<!-- if else-if else必须在一起不能被打断  -->
			<div v-else-if="n === 3">div4</div>
			<div v-else>div5</div>

			<!-- v-if与template的配合使用 template的作用：不破坏原始元素结构-->
			<template v-if="n === 1">
				<h2>h21</h2>
				<h2>h22</h2>
				<h2>h23</h2>
			</template>
		</div>
	</body>

	<script type="text/javascript">
		Vue.config.productionTip = false

		const vm = new Vue({
			el:'#root',
			data:{
				name:'data1',
				n: 0
			}
		})
	</script>
</html>