@font-face {
  font-family: "iconfont"; /* Project id 4326511 */
  src: url('iconfont.woff2?t=1699753662151') format('woff2'),
       url('iconfont.woff?t=1699753662151') format('woff'),
       url('iconfont.ttf?t=1699753662151') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanziwancheng:before {
  content: "\e61e";
}

.icon-tianxuangouren:before {
  content: "\e61f";
}

.icon-a-xiala2:before {
  content: "\e621";
}

.icon-xiuxianqu:before {
  content: "\e624";
}

